.btn {
  padding: 0.5rem;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
  display: flex;
  transition: all 0.5s;
  margin-bottom: 1em;
  cursor: pointer;
  border: none;
}

.btn > span {
  padding-right: 0.5rem;
  white-space: nowrap;
}
.btn > img {
  width: 1.6rem;
  height: auto;
  transition: all 0.5s;
}
.btn:hover > img {
  transform: scale(1.1);
}
.btn:hover {
  box-shadow: inset 0 0 0 1px var(--accent);
}
