.header {
  background: url(/code.jpg);
  display: grid;
  place-items: center;
  background-blend-mode: darken;
  background-color: rgba(11, 11, 11, 0.5);
  min-height: 100vh;
  background-size: cover;
  color: white;
}

.title {
  text-align: center;
  font-weight: 500;
}
.container {
  background: rgba(0, 0, 0, 50%);
  padding: 2em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  font-size: 2em;
}
.container a {
  margin-top: 1em;
  padding: 1em;
  background: #000;
  border: white 1px solid;
  border-radius: 3em;
  transition: all 0.5s;
  color: white;
  cursor: pointer;
}

.container a:hover {
  color: var(--green);
}

@media (max-width: 768px) {
  .attributes {
    display: block;
  }
}
