.header {
  background-blend-mode: darken;
  background-color: var(--background-color);
  min-height: 100vh;
  background-size: cover;
  color: var(--secondary);
  overflow: hidden;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 3em;
}
.container {
  padding: 2em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
  margin: 1em;
  gap: 1em;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.5em;
}
.attributes > li > a {
  display: flex;
  gap: .25em;
  align-items: center;
  padding: .5em;
}
.container a {
  transition: all 0.5s;
  cursor: pointer;
}

.container a:hover {
  color: var(--green);
}
.photo {
  border-radius: 50%;
  width: 20em;
  box-shadow: #0000007a 0 0 11px 9px;
  margin: 2em 0;
}

.photoContainer {
  z-index: 1;
  text-align: center;
}

.circle {
  width: 55vw;
  height: 55vw;
  position: absolute;
  left: -13%;
  background: var(--primary-dark);
  z-index: 1;
  border-radius: 50%;
  filter: blur(60px);
}
@media (max-width: 768px) {
  .attributes {
    display: block;
  }
  .container{
    font-size: .8em;
  }
  .photo {
    width: 50%;
  }
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
