.navbar {
  padding: 1rem;
  position: sticky;
  top: -1px;
  width: 100%;
  background-color: var(--primary);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary);
}

.list {
  list-style: none;
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  display: none;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}
.list li {
  padding: 1rem;
  transition: color 0.25s ease-in;
}
.list li:hover {
  color: var(--accent);
}

.navToggleLabel {
  width: 2em;
  height: 1em;
  display: flex;
  align-items: center;
}
.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
  display: block;
  background: var(--secondary);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.navToggleLabel span::before,
.navToggleLabel span::after {
  content: "";
  position: absolute;
}
.navToggleLabel span::before {
  bottom: calc(0.5em - 1px);
}
.navToggleLabel span::after {
  top: calc(0.5em - 1px);
}
.navToggle {
  display: none;
}
.navToggle:checked ~ .list {
  display: block;
}
@media screen and (min-width: 800px) {
  .navToggleLabel {
    display: none;
  }
  .list {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: unset;
    width: auto;
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
