.split {
  background: var(--background-secondary);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  max-width: 60rem;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}
.split:nth-child(odd) {
  flex-direction: row-reverse;
}
.imgContainer {
  flex: 1;
  flex-basis: 15rem;
  max-width: 20rem;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px;
  position: relative;
  min-height: 10rem;
}

.imgContainer img {
  object-fit: cover;
  border-radius: 2rem;
  overflow: hidden;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 50em) {
  .btnContainer {
    justify-content: none;
  }
}
