.split{
  background: #ffffff;
  border-radius:20px;
  overflow: hidden;
  width:90%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-bottom:2rem;
  padding: 1rem;
}
.btnContainer{
  display:flex; 
  align-items:center;
  justify-content:center;
  flex-wrap: wrap;
}
.split:nth-child(odd){
  flex-direction: row-reverse;
} 
.img{
  object-fit:cover;
  flex:1;
  max-width: 20rem;
  height:auto
}
.content{
  flex:1;
}

@media (min-width:50em){
  .btnContainer{
    justify-content: none;
  }  
  .split{
    width:70%;
  }
}