.proyectos {
  text-align: center;
  overflow-x: hidden;
}
.title {
  padding: 1rem;
  color: var(--secondary);
}
.container {
  padding: 1rem;
  overflow:hidden;
}
.container > * {
  margin-bottom: 1rem;
}
.showMore {
  background-color: var(--background-color);
  color: var(--secondary);
  margin: 0 auto;
}
