.proyectos {
  text-align: center;
}
.title {
  padding: 1rem;
  color: var(--secondary);
}
.container {
  padding: 1rem;
}
.container > * {
  margin-bottom: 1rem;
}
.showMore {
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0 auto;
}
