.curve {
  display: block;
  background: var(--background-secondary);
  background: linear-gradient( 0deg, var(--background-secondary) 0%, var(--accent) 69%);
}
.curve > path {
  fill: var(--background-color);
}
