@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
  scroll-behavior: smooth;
}
:root{
  --green: #27AF3D;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #EBEBEB;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-size: 3rem;
}
.accentColor{
  color:var(--green);
}
.slideRight{
  animation-name: slideRight;
  right:0 !important;
}
.slideLeft{
  animation-name: slideLeft;
  left: 0 !important;
}
@keyframes slideRight {
  0% {margin-right: 100%;}
  100% {margin-right: 0; }
}

@keyframes slideLeft {
  0% {margin-left: 100vw;}
  100% { margin-left: 0; }
}