@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--background-color);
  color: var(--secondary);
}
#__next {
  position: relative;
  overflow-x: hidden;
}

:root {
  --black: rgb(0, 0, 0);
  --dark-blue: rgb(34, 40, 49);
  --gray: rgb(57, 62, 70);
  --teal: rgb(0, 173, 181);
  --white: rgb(238, 238, 238);
  --red: rgb(255, 0, 0);
  --linkedin-blue: rgb(34 102 194);
  --green: rgb(0 181 63);
  --primary: var(--dark-blue);
  --primary-dark: rgb(28 31 35);
  --primary-light: var(--gray);
  --secondary: var(--white);
  --accent: var(--green);
  --background-color: var(--black);
  --background-secondary: var(--gray);
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font: 400 1rem Roboto;
}
* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

.colorRed {
  color: var(--red);
}

.colorBlue {
  color: var(--blue);
}

.colorGreen {
  color: var(--green);
}
